<mat-list role="list">
  <mat-list-item role="listitem">
    <div>
      <span>Holguin Cuba, Holguin</span>
      <h1>Paradisus Rio de Oro Resort & Spa</h1>
      <p>
        adresse: 'Playa Esmeralda, Carretera a Guardalavaca, Rafael Freyre,
        Holguin, Cuba, 80200',
      </p>
      <p>nombreChambres: 354,</p>
      <p>
        caracteristiques: "3 piscines", "8 restaurants ", "8 bars", "Wi-Fi :
        hall, piscine • Spa ($)", "Boissons 24 h - collations 24 h", "Coffret de
        sûreté", "Mariages" ,
      </p>
    </div>
    <div>
      <span class="prixSansRabais">3080$</span>
      <span class="prixRabais">1232$</span>
      <span class="prixAvecRabais">1848$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>29/12/2021, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div>
      <span>Montego Bay, Jamaïque</span>
      <h1>Holiday Inn Resort Montego Bay</h1>
      <p>adresse: 'P.O. Box 480 Rose Hall Montego Bay Jamaïque',</p>
      <p>nombreChambres: 520,</p>
      <p>
        caracteristiques: "2 piscines", "Wi-Fi : dans tout le complexe", "Air
        climatiser", "Animaux acceptés", "Navette aéroport", "5 restaurants",
        "Salle d'exercice", "Spa ($)"
      </p>
    </div>
    <div>
      <span class="prixSansRabais">2534$</span>
      <span class="prixRabais">1295$</span>
      <span class="prixAvecRabais">1239$</span>
    </div>
    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>

    <p>07/01/2022, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div>
      <span>Porto Portugal, Portugal</span>
      <h1>Hotel Dom Henrique</h1>
      <p>adresse: 'Rua do Bolhão 223, Porto, Portugal, 400-112',</p>
      <p>nombreChambres: 112,</p>
      <p>
        caracteristiques: "Petit-déjeuner", "2 piscines", "Wi-Fi : dans tout le
        complexe", "Air climatiser", "1 Bar", "2 restaurants", "Coffret de
        sûreté ($)",
      </p>
    </div>
    <div>
      <span class="prixSansRabais">2204$</span>
      <span class="prixRabais">705$</span>
      <span class="prixAvecRabais">1499$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>13/03/2022, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div>
      <span>Paris, Francee</span>
      <h1>Citadines Maine Montparnasse Paris</h1>
      <p>adresse: '67, avenue du Maine 75014 Paris, France',</p>
      <p>nombreChambres: 98,</p>
      <p>
        caracteristiques: "Wi-Fi : hall, chambre", "Stationnement ($)", "1
        restaurant", "Coffret de sûreté", "Accessible", "Séchoir à cheveux",
        "Resto-bar"
      </p>
    </div>
    <div>
      <span class="prixSansRabais">2169$</span>
      <span class="prixRabais">400$</span>
      <span class="prixAvecRabais">1769$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>02/05/2022, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <div>
      <span>Guadeloupe, Guadeloupe</span>
      <h1>Pierre et Vacances Village de Sainte-Anne</h1>
      <p>adresse: 'Seo La Pointe de Helleux Saint-Anne Guadeloupe, 97180',</p>
      <p>nombreChambres: 514,</p>
      <p>
        caracteristiques: "Face à la plage", "3 piscines", "2 Bar", "4
        restaurants", "Wi-Fi : dans tout le complexe", "Salle d'exercice",
        "Coffret de sûreté ($)", "Plage"
      </p>
    </div>
    <div>
      <span class="prixSansRabais">2481$</span>
      <span class="prixRabais">422$</span>
      <span class="prixAvecRabais">2059$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>29/12/2021, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
