<mat-list role="list">
  <mat-list-item role="listitem">
    <span>Holguin Cuba, Holguin</span>
    <h1>Paradisus Rio de Oro Resort & Spa</h1>
    <div>
      <span class="prixSansRabais">3080$</span>
      <span class="prixRabais">1232$</span>
      <span class="prixAvecRabais">1848$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>29/12/2021, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <span>Montego Bay, Jamaïque</span>
    <h1>Holiday Inn Resort Montego Bay</h1>
    <div>
      <span class="prixSansRabais">2534$</span>
      <span class="prixRabais">1295$</span>
      <span class="prixAvecRabais">1239$</span>
    </div>
    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>07/01/2022, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <span>Porto Portugal, Portugal</span>
    <h1>Hotel Dom Henrique</h1>
    <div>
      <span class="prixSansRabais">2204$</span>
      <span class="prixRabais">705$</span>
      <span class="prixAvecRabais">1499$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>13/03/2022, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <span>Paris, Francee</span>
    <h1>Citadines Maine Montparnasse Paris</h1>
    <div>
      <span class="prixSansRabais">2169$</span>
      <span class="prixRabais">400$</span>
      <span class="prixAvecRabais">1769$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>02/05/2022, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item role="listitem">
    <span>Guadeloupe, Guadeloupe</span>
    <h1>Pierre et Vacances Village de Sainte-Anne</h1>
    <div>
      <span class="prixSansRabais">2481$</span>
      <span class="prixRabais">422$</span>
      <span class="prixAvecRabais">2059$</span>
    </div>

    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>29/12/2021, <span>7 jours</span></p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
