mat-card {
  background-color: rgb(94, 255, 0);
  padding: 10px;
  margin-left: -10px;
  margin: 20px;
  width: 400px;
}

p {
  font-size: 15px;
  font-weight: bold;
}

p span {
  color: red;
  font-weight: bold;
}
h1 {
  font-size: 20px;
  color: blue;
}

.prixRabais {
  color: green;
  font-weight: bold;
}

.prixSansRabais {
  text-decoration: line-through;
  color: red;
  font-weight: bold;
}

.prixAvecRabais {
  color: black;
  font-weight: bold;
}

.material-icons {
  color: coral;
  margin-top: 15px;
  margin-left: -3px;
}

div.vedette {
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: coral;
  margin-bottom: 30px;
  font-size: -15px;
}
