<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{ destination }}</h2>
    </mat-card-title>
    <h5>De {{ villeDepart }}</h5>
    <div class="vedette">FORFAIT VEDETTE</div>
  </mat-card-header>

  <mat-card-content>
    <h1>{{ hotel }}</h1>

    <div>
      <span class="prixSansRabais"
        ><h4>{{ prix }}$</h4>
      </span>
      <span class="prixRabais"
        ><h4>{{ rabais }}$</h4></span
      >
      <span class="prixAvecRabais"
        ><h4>{{ prixRabais }}$</h4></span
      >
    </div>
    <h4>{{ taxes }}</h4>
    <div>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
      <span class="material-icons">grade</span>
    </div>
    <p>
      {{ dateDepart }}<span>{{ duree }} Jours</span>
    </p>
  </mat-card-content>
</mat-card>
